/* body styling */
body {
  background-color: whitesmoke;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* heading */
.heading {
  font-family: Overpass Mono;
  margin: 35px auto 20px;
}

/* hr styling */

hr {
  border-top: 2px solid black;
  width: 40%;
  margin-bottom: 55px;
}

/* main styling */
.main {
  width: 50vw;
  margin: auto;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
}

/* label styling  */
label {
  font-size: 25px;
}

/* button styling  */
.btn {
  width: 200px;
}

/* final amount and value  */
#finalAmount {
  font-family: Overpass Mono;
  display: none;
  margin: 45px auto;
}

#finalAmount h2 {
  font-size: 45px;
}

.finalValue {
  font-family: "Amiri", serif;
}

@media (max-width: 768px) {
  hr {
    width: 60%;
  }
  .main {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .heading {
    font-size: 55px;
  }
  hr {
    width: 75%;
  }
  #finalAmount h2,
  .finalValue {
    font-size: 50px;
  }
}
